body {
    background-color: black;
    text-align: center;

}
p {
    color: white;

}
h1 {
    color: white;
    font-weight: bold;
    text-decoration: underline;

}
h2 {
    color: white;

}
footer {
    color: white;

}
table {
    color: white;
    align: center;

}
h3 {
    color: white;

}
h4 {
    color: white;

}
h5 {
    color: white;

}
h6 {
    color: white;

}
ol {
    color: white;

}
ul {
    color: white;

}
